--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124

numpy>=1.26
pandas>=2.2
matplotlib>=3.8
scikit-learn>=1.4
nibabel>=5.2
tqdm>=4.66
pillow>=10.3